body { 
    background: url(../img/woodgrain.jpg) repeat; 
}

/* spacing */

.top-wedge {
    height: 10px;
}

.mid-gap {
    height: 25px;
}

/* sections */

.invitation {
    background-color: #fff;
    padding: 27px 99px 29px 29px;
    box-shadow: 5px 5px 5px #282727;
}

/* elements */

.invite-btn {
    background-color: #393939;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin-right: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

a.invite-btn:hover {
    background-color: #f78b36;
    color: #fff;
}

.input-label {
    font-size: 1.5rem;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
}



















